/* View order CSS */

.card {
    border-radius: 0px !important;
}

.card-title {
    font-size: 1.05em;
    font-weight: 600;
}

.card-subtitle > .subtitle {
    font-size: 1em;
    font-weight: 600 !important;
}

.progress {
    border-radius: 0px !important;
    height: 8px;
}